{% include "views/default/header.html" %}

{% load i18n static %}   <!--- carga todos los recursos estaticos  -->  

<div class="container">

    <div class="row">

        <div class="col-sm-6 col-md-3">

            <div class="card">

                <output id="fotoPerfil">
                    <!-- metodo profile - ProfilleController --->
                    <img class="fotoPerfil" src="{{ profile.image.url }}" />

                </output>

                <div class="card-body">

                    <form action="{{ app_path }}/updateImage" method="post" enctype="multipart/form-data">

                        <div class="col-md-10 text-center">

                            {% csrf_token %}

                            <!-- begin input file  -->
                            {{ imageForm.as_p }}
                            <!-- end input file  -->

                            <p class="errornote text-danger">
                                {{ errorImage }}
                            </p>

                        </div>

                        <div class="caption text-center">

                            <button type="submit" class="btn btn-primary">Guardar</button>

                        </div>

                    </form>

                </div>


            </div>

        </div>

        <div class="col-xs-6 col-md-8">

            <div class="panel panel-primary">

                <div class="panel-heading">

                    <h3 class="panel-title">Configuracion de Usuarios</h3>

                </div>

                <div class="panel-body">

                    <div class="accordion" id="accordionExample">

                        <div class="card">

                            <div class="card-header" id="headingOne">

                                <div class="bg-info" id="header">

                                    <h2 class="mb-0 t">

                                        <button class="btn btn-link text-light" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Cambiar Información
                                        </button>

                                    </h2>

                                </div>

                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordionExample">
                            
                                <div class="card-body">

                                    <form action="{{ app_path }}/updateUser" method="POST" id="login-form">

                                        {% csrf_token %}
                                        
                                        <!--- begin -- formulario de usuario  -->
                                        {{ form1 }}
                                        <!--- end -- formulario de usuario  -->

                                        <div class="submit-row">

                                            <input type="submit" value="Actualizar" class="btn btn-success" >

                                        </div>

                                    </form>

                                </div>
                            
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

<script>

    $(function (){

        var imagePerfil = (evt) => {

            new Uploadpicture().archivo(evt, "fotoPerfil");

        }

        document.getElementById('id_image').addEventListener('change', imagePerfil, false);

    });

</script>

{% include "views/default/footer.html" %}