.imglogo {
    max-width: 30%;
}
.navbar-brand {
    max-width: 15%;
}
.imgSlider {
    max-width: 50%;
}
.sheetSlider {
    background-color: #ffffff;
    text-align: center;
}
.sh__meta span, .sh__meta h4 {
    color: rgb(85, 85, 85);
}