.imglogo {
    max-width: 70%;
}

.navbar-brand {
    max-width: 15%;
}

.imgSlider {
    max-width: 50%;
}

.sheetSlider {
    background-color: #ffffff;
    text-align: center;
}

.sh__meta span,
.sh__meta h4 {
    color: rgb(85, 85, 85);
}

.thumbnail {
    max-width: 100%;
}

.card-body h5 {
    font-size: 14px;
    max-width: 100%;
}

.card-body p {
    font-size: 12px;
}

input,
table {
    width: 100%;
}

.errorlist li {
    color: #f76e6e;
    list-style: none;
}

input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.col-md-10 label {
    background-color: #28a745;
    border-color: #28a745;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.col-md-10 label:hover {
    background-color: #148a30;
}

.fotoPerfil {
    max-width: 100%;
}

@media (min-width: 768px) {
    .imglogo {
        max-width: 30%;
    }
}