{% include "views/default/header.html" %}

<div class="container">
    <p>
        Mi nombre es Alex Pagoada soy de Honduras La Ceiba y soy Programador en los lenguajes de Java, C ++, C #, VB, Android, Python, UWP, Android, Xamarin, Kotlin y Web con html 5, PHP, ASP NET Core, jQuery, Css, Node.Js, JavaScript, base de datos con MySQL y SQL Serve
    
        Soy YouTuber y tengo un canal de YouTube donde publico videos tutoriales de programación y desarrollo de aplicaciones saludos y bendiciones
    </p>
</div>

{% include "views/default/footer.html" %}