{% include "views/default/header.html" %}
{% load static %} 
<!-- Slider ---->
<div class="sheetSlider sh--default">
    <input id="s1" type="radio" name="slide1" checked />
    <input id="s2" type="radio" name="slide1" />
    <input id="s3" type="radio" name="slide1" />
    <input id="s4" type="radio" name="slide1" />
    <input id="s5" type="radio" name="slide1" />
    <input id="s6" type="radio" name="slide1" />
    <input id="s7" type="radio" name="slide1" />
    <input id="s8" type="radio" name="slide1" />
    <input id="s9" type="radio" name="slide1" />
    <input id="s10" type="radio" name="slide1" />
    
    <div class="sh__content">
        <!-- Slider Item -->
        <div class="sh__item">
            <img src="{% static 'images/Python-portada.png' %}" alt="imgText" class="imgSlider" />
            <!-- Item Info -->
            <div class="sh__meta">
                <h4>Python and Django</h4>
                <span>Curso de Python MVC and Django administración de usuarios
                    <a href="#urlPage">with link</a></span>
            </div>
        </div>
        <!-- Slider Item -->
        <div class="sh__item">
            <img src="{% static 'images/UWP.png' %}" alt="imgText" class="imgSlider" />
            <!-- Item Info -->
            <div class="sh__meta">
                <h4>UWP</h4>
                <span>Curso de app para la plataforma universal de Windows UWP C# <a href="#urlPage">with
                        link</a></span>
            </div>
        </div>
        <!-- Slider Item -->
        <div class="sh__item">
            <img src="{% static 'images/Xamarin.png' %}" alt="imgText" class="imgSlider" />
            <!-- Item Info -->
            <div class="sh__meta">
                <h4>Xamarin</h4>
                <span>
                    Curso de Xamarin para Android y Firebase en C#
                </span>
            </div>
        </div>
        <!-- Slider Item -->
        <div class="sh__item">
            <img src="{% static 'images/Systema-portada-core.png' %}" alt="imgText" class="imgSlider" />
            <!-- Item Info -->
            <div class="sh__meta">
                <h4>Asp net Core MVC</h4>
                <span>Curso de aplicaciones web modernas en ASP NET Core MVC en C#</span>
            </div>
        </div>
        <div class="sh__item">
            <img src="{% static 'images/Systema5.png' %}" alt="imgText" class="imgSlider" />
            <!-- Item Info -->
            <div class="sh__meta">
                <h4>Java Web MVC</h4>
                <span>Curso de Java Web MVC and JavaScript ,Hibernate,MySQL,Spring</span>
            </div>
        </div>
        <div class="sh__item">
            <img src="{% static 'images/Android-kotlin1.png' %}" alt="imgText" class="imgSlider" />
            <!-- Item Info -->
            <div class="sh__meta">
                <h4>Android Kotlin</h4>
                <span>
                    Curso de Android and Firebase con Kotlin
                </span>
            </div>
        </div>
        <div class="sh__item">
            <img src="{% static 'images/Systema1.png' %}" alt="imgText" class="imgSlider" />
            <!-- Item Info -->
            <div class="sh__meta">
                <h4>C# con MySQL y SQL</h4>
                <span>
                    Como crear un sistema punto de ventas en C# con MySQL y SQL
                </span>
            </div>
        </div>
        <div class="sh__item">
            <img src="{% static 'images/Systema4.png' %}" alt="imgText" class="imgSlider" />
            <!-- Item Info -->
            <div class="sh__meta">
                <h4>PHP 7 POO MVC & PDO</h4>
                <span>
                    Curso sistema de ventas y facturación en PHP 7 POO MVC & PDO
                </span>
            </div>
        </div>
        <div class="sh__item">
            <img src="{% static 'images/Android3.png' %}" alt="imgText" class="imgSlider" />
            <!-- Item Info -->
            <div class="sh__meta">
                <h4>Android Java</h4>
                <span>
                    Curso de Android and Firebase con Java
                </span>
            </div>
        </div>
        <div class="sh__item">
            <img src="{% static 'images/Systema-portadaASP-NET-Core.png' %}" alt="imgText" class="imgSlider" />
            <!-- Item Info -->
            <div class="sh__meta">
                <h4>ASP.NET Core MVC C#</h4>
                <span>
                    Curso sistema de ventas y facturación en ASP.NET Core MVC C#

                </span>
            </div>
        </div>
        <!--div class="sh__item">
            <img src="{% static 'images/System3.png' %}" alt="imgText" class="imgSlider" />-->
            <!-- Item Info -->
            <!--div class="sh__meta">
                <h4>Java & MySQL y SQL</h4>
                <span>
                    Como crear un sistema punto de ventas en Java & MySQL y SQL
                </span>
            </div>
        </div-->
    </div>
    <!--botones-->
    <div class="sh__btns">
        <label for="s1"></label>
        <label for="s2"></label>
        <label for="s3"></label>
        <label for="s4"></label>
        <label for="s5"></label>
        <label for="s6"></label>
        <label for="s7"></label>
        <label for="s8"></label>
        <label for="s9"></label>
        <label for="s10"></label>
       
    </div><!-- .sh__btns -->
    <!--flechas-->
    <div class="sh__arrows">
        <label for="s1"></label>
        <label for="s2"></label>
        <label for="s3"></label>
        <label for="s4"></label>
        <label for="s5"></label>
        <label for="s6"></label>
        <label for="s7"></label>
        <label for="s8"></label>
        <label for="s9"></label>
        <label for="s10"></label>
        
    </div><!-- .sh__arrows -->
</div>

{% include "views/default/footer.html" %}
