{% include "views/default/header.html" %}

<div class="container">

    <div class="row">

        {% if cursos_list %}

        {% for curso in cursos_list %}

        <div class="col-xs-6 col-md-2">

            <div class="card">

                <div class="card-header">

                    <a href="details/{{ curso.CursoId }}">

                        <img src="/media/{{ curso.Imagen }}" width="85" height="85" class="thumbnail">

                    </a>

                </div>

                <div class="card-body">

                    <h5>{{ curso.Nombre }}</h5>

                    <p class="card-text">{{ curso.Descripcion }}</p>

                    <h5>{{ curso.Costo }}</h5>

                </div>

            </div>

        </div>

        {% endfor %}


        {% else %}

        <p>No hay Cursos Disponible.</p>

        {% endif %}

    </div>
    
</div>

{% include "views/default/footer.html" %}