{% include "views/default/header.html" %}

<div class="container">

    <div class="form-group">

        <form action="{{ app_path }}" method="POST" autocomplete="off">

            {% csrf_token %}

            <div class="row">

                <div class="col-md-4">

                    <input type="text" id="filtrar" name="filtrar" placeholder="Buscar" class="form-control" />

                </div>

                <div class="col-md-2">

                    <div class="row">

                        <input type="submit" value="Buscar" class="btn btn-success buscar" />

                    </div>

                </div>

            </div>

        </form>

    </div>

    <div class="row">

        {% if cursos_list %}

        {% for curso in cursos_list %}

        <div class="col-xs-6 col-md-2">

            <div class="card">

                <div class="card-header">

                    <a href="details/{{ curso.CursoId }}">

                        <img src="/media/{{ curso.Imagen }}" class="thumbnail">

                    </a>

                </div>

                <div class="card-body">

                    <table>

                        <tbody>

                            <tr>

                                <td>
                                    <h5>{{ curso.Nombre }}</h5>
                                </td>
                            
                            </tr>

                            <tr>

                                <td>

                                    {% if curso.Estado %}

                                    <p class="text-success">Disponibles.</p>

                                    {% else %}

                                    <p class="text-danger">No disponibles.</p>

                                    {% endif %}
                                    
                                </td>

                            </tr>

                            <tr>

                                <td>
                                    <h5>{{ curso.Costo }}</h5>
                                </td>

                            </tr>

                            <tr>
                                
                                <td>

                                    <form method="POST" action="obtener">

                                        {% csrf_token %}

                                        <input type="hidden" value="{{ curso.CursoId }}" name="cursoid" size="1" />

                                        <input type="submit" class="btn btn-success btn-sm" value="Obtener" />

                                    </form>

                                </td>

                            </tr>

                        </tbody>

                    </table>

                </div>

            </div>

        </div>

        {% endfor %}


        {% else %}

        <p>No hay Cursos Disponible.</p>

        {% endif %}

    </div>
    
</div>

{% include "views/default/footer.html" %}