{% include "views/default/header.html" %}

<div class="container">

    <div class="form-group">

        <form action="{{ app_path }}" method="post">

            {% csrf_token %}

            <div class="row">

                <div class="col-md-4">

                    <input type="text" id="filtrar" name="filtrar" placeholder="Buscar curso" class="form-control" />

                </div>

                <div class="col-md-1">

                    <div class="row">

                        <input type="submit" value="Buscar" class="btn btn-success">

                    </div>

                </div>

            </div>

        </form>
        
    </div>

    <div class="row">

        {% if items %}

            {% for curso in items %}

            <div class="col-xs-6 col-md-2">

                <div class="card">

                    <div class="card-header">

                        <a href="details/{{ curso.CursoId }}">

                            <img src="/media/{{ curso.Imagen }}" class="thumbnail" />

                        </a>

                    </div>

                    <div class="card-body">

                        <table class="tableCursos">

                            <tbody>

                                <tr>

                                    <td>
                                        <h5>{{ curso.Nombre }}</h5>
                                    </td>

                                </tr>

                                <tr>

                                    <td>

                                        {% if curso.Estado %}

                                        <p class="text-success">Disponible</p>

                                        {% else %}

                                        <p class="text-danger">No Disponible</p>

                                        {% endif %}
                                    </td>
                                    
                                </tr>

                                <tr>

                                    <td>
                                        <h5>Bs. {{ curso.Costo }}</h5>
                                    </td>
                                    
                                </tr>

                            </tbody>

                        </table>

                    </div>

                </div>

            </div>

            {% endfor %}

        {% else %}

        <p>No hay Cursos Agregados</p>

        {% endif %}

    </div>

    {% if items.has_next or items.has_previous %}

    <ul class="pagination">

        {% if items.has_previous %}

        <li>

            <a href="?page={{ items.previous_page_number }}" class="btn btnpages">
                <i class="glyphicon glyphicon-chevron-left"></i>
            </a>

        </li>

        {% endif %}

        {% for page in items.paginator.page_range %}

        <li class="{% if items.number == page %}active{% endif %}">

            <a class="btn btnpages" href="?page={{ page }}">{{ page }}</a>

        </li>

        {% endfor %}

        {% if items.has_next %}

        <li>

            <a href="?page={{ items.next_page_number }}" class="btn btnpages">
                <i class="glyphicon glyphicon-chevron-right"></i>
            </a>

        </li>

        {% endif %}

    </ul>

    {% endif %}

</div>

{% include "views/default/footer.html" %}